<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <connectionStrings>
    <add name="HabitacliaConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\proyectos\habitaclia\PresentationLayer\App_Data\Habitaclia.mdf;Initial Catalog=Habitaclia;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
