@model PresentationLayer.Models.UserModel
@{
    ViewBag.Title = "PAGE_1";
    Layout = "~/Views/_LayoutInterna.cshtml";
}
<p>
    <h2>PAGE_1</h2>
    <h4>Hello @HttpContext.Current.Session["UserName"]</h4>
</p>




