
@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/_LayoutInicial.cshtml";
}

<h2>Not Authorized</h2>
<p>
   Not authorized to access the page.
</p>
<p><a href="/Login/Login">Login page</a></p>


